.type-1948 .section-title h2 {
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 2px;
  color: #07253F;
  transition: 0.5s all;
}
.type-1948 .section-title h2:hover {
  color: #f9676b;
  transition: 0.5s all;
}
.type-1948 .section-title h4 {
  font-weight: bold;
  position: relative;
  color: #07253F;
  cursor: pointer;
  transition: 0.5s all;
}
.type-1948 .section-title h4:hover {
  color: #f9676b;
  transition: 0.5s all;
}
.type-1948 .tab .nav-tabs {
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.type-1948 .tab .nav-tabs > li>a {
  border: medium none;
  color: #fff;
  font-weight: bold;
  line-height: 2;
  margin-right: 0;
  border-radius: 0;
  background: #00adef;
  transition: 0.5s all;
}
.type-1948 .tab .nav-tabs > li>a:hover {
  background: #f9676b;
  color: #fff;
}
.type-1948 .tab .nav-tabs .active {
  position: relative;
  border-radius: 0;
  background: #f9676b;
  color: #fff;
}
.type-1948 .tab .nav-tabs > li.active > a,
.type-1948 .tab .nav-tabs > li.active > a:focus,
.type-1948 .tab .nav-tabs > li.active > a:hover {
  background: #f9676b;
  color: #fff;
  border: none;
  border-radius: 0;
}
.type-1948 .tab .nav-tabs .active:after {
  background: #f9676b none repeat scroll 0 0;
  content: "";
  height: 20px;
  left: 40%;
  position: absolute;
  top: 74%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 20px;
}
.type-1948 .tab .nav-menu li {
  list-style: none;
  float: left;
}
.type-1948 .tab .tab.nav-tabs {
  padding: 0;
  display: table;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
.type-1948 .tab .nav-item {
  border: 1px solid #e9ecef;
}
.type-1948 .tab .nav-menu .nav-item li:first-child a {
  border-left: 1px solid #eee;
}
.type-1948 .tab .tab-content .tab-pane .item {
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  padding: 18px 0px 20px 0px;
  overflow: hidden;
}
.type-1948 .tab .tab-content .tab-pane .item img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  max-width: 100%;
}
.type-1948 .tab .tab-content .tab-pane .item img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.type-1948 .tab .tab-content .tab-pane .item .location {
  color: #00adef;
}
.type-1948 .tab .tab-content .tab-pane .item a {
  background: #f9676b none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  padding: 4px 10px;
  margin-bottom: 15px;
}
.type-1948 .tab .tab-content .tab-pane .item h5 {
  cursor: pointer;
  color: #07253F;
}
.type-1948 .tab .tab-content .tab-pane .item h5:hover {
  color: #f9676b;
  transition: 0.5s all;
}
.type-1948 .tab .tab-content .tab-pane .item h4 {
  color: #07253F;
  font-weight: bold;
  font-size: 16px;
}
.type-1948 .tab .tab-content .tab-pane .item h6 {
  color: #07253F;
  font-size: 12px;
}
.type-1948 .tab .tab-content .tab-pane .item a:hover {
  background: #00adef;
}
.type-1948 .tab .tab-content .tab-pane .item p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 71px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-1948 .tab .tab-content .tab-pane .item-img {
  margin-top: 30px;
  color: #fff;
}
.type-1948 .tab .tab-content .tab-pane .item-img .wapper {
  position: relative;
  overflow: hidden;
}
.type-1948 .tab .tab-content .tab-pane .item-img .wapper img {
  max-width: 100%;
  position: relative;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.type-1948 .tab .tab-content .tab-pane .item-img .wapper h5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(10,49,82,0.5);
  margin: 0;
  padding: 5px 0px;
  font-weight: bold;
  line-height: 2;
}
.type-1948 .tab .tab-content .tab-pane .item-img .wapper a {
  position: absolute;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 5px 20px;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  opacity: 0;
  transition: all 0.5s ease;
}
.type-1948 .tab .tab-content .tab-pane .item-img:hover img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.type-1948 .tab .tab-content .tab-pane .item-img:hover a {
  opacity: 1;
}
