.type-1961{
    margin: 0;
    padding: 0;
    font-family: segoe ui light;
    #menuduoi{width: 100%;}
    .logo {
        text-align: center;
        padding-top: 20px;
    }
    a.navbar-brand {
        cursor: pointer;
        padding-left: 170px;
    }
    .select {
        line-height: 40px;
        margin-top: 30px;
        position: relative;
    }
    a {
        cursor: pointer;
        text-decoration: none !important;
    }
    li.zz {
        width: 20%;
    }
    ul li {
        padding-left: 20px;
        list-style-type: none;
    }
    .hinhvohang {
        width: 10%;
        padding-bottom: 8px;
        padding-right: 2px;
    }
    .duoi {
        background: white;
        margin-top: 50px;
    }
    .ring {
        font-size: 15px;
        font-weight: 800;
        color: black;
    }
    .muitenmenu {
        margin-left: 10px;
        opacity: 0.3;
    }
    .Earrings {

        position: relative;

    }
    .Earrings:hover .muitenmenu {
        opacity: 1;
    }
    .noidungnho {
        top: 100%;
        position: absolute !important;
        width: 1000px;
        height: 156px;
        z-index: 2;
        left: 35%;
        background: #ddddddbf;
        opacity: 0;
        visibility: hidden;
        box-shadow: 1px 3px 2px rgba(128,128,128,0.46);
    }
    .Earrings:hover .noidungnho {
        transition: 0.5s all;
        opacity: 1;
        visibility: visible;
    }
    #menunho {
        position: relative;
    }
    .noidungmenunho {
        position: absolute !important;
        left: -55%;
        width: 100%;
        height: 156px;
        z-index: 2;
        background: white;
        box-shadow: 1px 3px 2px rgba(128,128,128,0.46);
        opacity: 0;
        visibility: hidden;
    }
    #menunho:hover .noidungmenunho {
        opacity: 1;
        visibility: visible;
    }
    .All {
        width: 22% !important;
        margin: 0 14.5px;
        border-bottom: 1px solid #80808061;
        padding-left: -10px !important;
    }
    .menu {
        width: 100% !important;
        border-top: 1px solid #80808061;
        margin-right: 13px;
    }
    .all {
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        color: black;
        background: none !important;
    }
    .ring:hover {
        color: gray;
        background-color: white !important;
    }
}
@media handheld,only screen and (max-width: 767px) {
    .type-1961{
        .logo img {
            width: 300px;
        }
        .icon {
            padding: 24px;
            visibility: visible;
            background: #fff;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
@media (min-width: 768px){
    .navbar-nav>li {
        display: table-cell;
        float: none;
    }
}
@media (max-width: 492px){
    li.zz {
        width: 100%;
    }
    .type-1961 
    {
        .noidungnho{
            color: white;
            width: 100%;
            left: 0px !important;
            background: #777;
            opacity: 0;
            visibility: hidden;
            box-shadow: 1px 3px 2px rgba(128,128,128,0.46);
        }
        .menu {
            border-top: 1px solid #fcf8e3;
        }
        .All{margin: 0px;}
    }

}